
body{
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}


.navbar-expand-lg{
    border-bottom: 1px #ebebeb;
}
.navbar-expand-lg .navbar-nav>li>a {
    color: #121212;
    font-size: 16px;
}

.navbar-expand-lg .navbar-nav>.active>a,
.navbar-expand-lg .navbar-nav>.active>a:focus,
.navbar-expand-lg .navbar-nav>.active>a:hover{
    background-color: #fff;
    background-image:none;
    box-shadow: none;
    color: #056de8;
}
.navbar-expand-lg .navbar-nav>li>a:focus,
.navbar-expand-lg .navbar-nav>li>a:hover {
    color: #056de8;
    background-color: #fff;
}

.container-fluid{
    width: 1000px;
}
.navbar-collapse{
    min-width: 1000px;
    background-color: #fff;
}
.search{
    border-radius:999px;
    border: #fff;
    box-shadow: none;
    font-size: 13px;
    background-color: #f6f6f6;
    padding-left: 18px;
}

.searchbtn{
    background: url("/icon/search.png")center no-repeat;
    width: 20px;
    height: 24px;
    border: none;
    box-shadow: none;
    background-size: 100% 100%;
}
/*hover focus问题*/