<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>提问</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">校园知乎</span>
            </button>
            <a class="navbar-brand" href="#">校园知乎</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>

            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="search form-control" placeholder="搜索你感兴趣的内容...">
                </div>
                <button type="submit" class="searchbtn btn btn-default">
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li th:if="${session.user!=null}">
                    <div class="quesbtn">
                        <a href="/publish">提问</a>
                    </div>
                </li>

                <li class="dropdown" th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">我的主页</a></li>
                        <li><a href="#">设置</a></li>
                        <li><a href="#">退出</a></li>
                    </ul>
                </li>
                <li th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=782c14605517a18cf614&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container-fluid">
        <div class="row">
        <div class="publishleft col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">提问</span></h3>
            <hr>
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题</label>
                    <input type="text" id="title" name="title" th:value="${title}" class="form-control" placeholder="请输入问题标题">
                </div>
                <div class="form-group">
                    <label for="description">问题描述</label>
                    <textarea name="description" id="description" th:value="${description}" class="form-control" cols="30" rows="10" placeholder="请输入问题描述"></textarea>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签</label>
                    <input type="text" name="tag" id="tag" th:value="${tag}" class="form-control" placeholder="请输入标签，以','分隔"></input>
                </div>

                <div class="container-fluid">
                    <div class="row">
                        <span class="alert alert-danger" th:text="${error}" th:if="${error!=null}"></span>
                        <button type="submit" class="btn btn-success publishbtn">发布</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="publishright col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <br>
            <h3>问题发起指南</h3>
            · 问题标题：请用精简的语言描述您发布的问题，不超过25字
            <br>
            · 问题描述：详细描述您的问题内容，确保描述清晰直观，并提供一些相关的资料
            <br>
            · 选择标签：选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字
        </div>
    </div>
    </div>
</body>
</html>